.title-font {
  font-family: "Raleway", sans-serif;
}

.header {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.center-stage {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

#main {
  font-family: "Ubuntu", sans-serif;
}

.kill-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.killed-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.6;
}

.pair .card-group {
  position: relative;
}

.pair:hover .kill-text {
  opacity: 0.5;
}
